In [1]:
import pandas as pd

In [34]:
# S&P

df_sp = pd.read_csv('Futuros S&P 500 - Dados Históricos.csv')

df_sp['Data'] = df_sp['Data'].apply(lambda x: x.replace('.','/'))
df_sp['Último'] = df_sp['Último'].apply(lambda x: x.replace(',', ''))
df_sp['Abertura'] = df_sp['Abertura'].apply(lambda x: x.replace(',', ''))
df_sp['Máxima'] = df_sp['Máxima'].apply(lambda x: x.replace(',', ''))
df_sp['Mínima'] = df_sp['Mínima'].apply(lambda x: x.replace(',', ''))
df_sp['Vol.'] = df_sp['Vol.'].apply(lambda x: x[:-4])                                       
df_sp['Var%'] = df_sp['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_sp['Último'] = pd.to_numeric(df_sp['Último'])
df_sp['Abertura'] = pd.to_numeric(df_sp['Abertura'])
df_sp['Máxima'] = pd.to_numeric(df_sp['Máxima'])
df_sp['Mínima'] = pd.to_numeric(df_sp['Mínima'])
df_sp['Var%'] = pd.to_numeric(df_sp['Var%'])


df_sp['Média'] = (df_sp['Último'] + df_sp['Abertura'] + df_sp['Máxima'] + df_sp['Mínima'])/4

df_sp = df_sp.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima', 'Vol.'])

df_sp = df_sp.fillna(1)

df_sp.head()

         Data  Var%     Média
0  30/07/2019 -0.18  3.017500
1  29/07/2019 -0.09  3.021625
2  26/07/2019  0.60  3.016625
3  25/07/2019 -0.50  3.012563
4  24/07/2019  0.45  3.010625

In [36]:
df_dow = pd.read_csv('Futuros Dow 30 - Dados Históricos.csv')

df_dow['Data'] = df_dow['Data'].apply(lambda x: x.replace('.','/'))
df_dow['Último'] = df_dow['Último'].apply(lambda x: x.replace(',', ''))
df_dow['Abertura'] = df_dow['Abertura'].apply(lambda x: x.replace(',', ''))
df_dow['Máxima'] = df_dow['Máxima'].apply(lambda x: x.replace(',', ''))
df_dow['Mínima'] = df_dow['Mínima'].apply(lambda x: x.replace(',', ''))
df_dow['Vol.'] = df_dow['Vol.'].apply(lambda x: x[:-4])                                       
df_dow['Var%'] = df_dow['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_dow['Último'] = pd.to_numeric(df_dow['Último'])
df_dow['Abertura'] = pd.to_numeric(df_dow['Abertura'])
df_dow['Máxima'] = pd.to_numeric(df_dow['Máxima'])
df_dow['Mínima'] = pd.to_numeric(df_dow['Mínima'])
df_dow['Vol.'] = pd.to_numeric(df_dow['Vol.'])
df_dow['Var%'] = pd.to_numeric(df_dow['Var%'])


df_dow['Média'] = (df_dow['Último'] + df_dow['Abertura'] + df_dow['Máxima'] + df_dow['Mínima'])/4

df_dow = df_dow.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima', 'Vol.'])

df_dow = df_dow.fillna(1)

df_dow.head()

         Data  Var%      Média
0  30/07/2019 -0.02  27.178625
1  29/07/2019  0.18  27.177000
2  26/07/2019  0.20  27.125750
3  25/07/2019 -0.52  27.183750
4  24/07/2019 -0.32  27.266000

In [37]:
df_udx = pd.read_csv('Índice Dólar Futuros Dados Históricos USDX.csv')

df_udx['Data'] = df_udx['Data'].apply(lambda x: x.replace('.','/'))
df_udx['Último'] = df_udx['Último'].apply(lambda x: x.replace(',', ''))
df_udx['Abertura'] = df_udx['Abertura'].apply(lambda x: x.replace(',', ''))
df_udx['Máxima'] = df_udx['Máxima'].apply(lambda x: x.replace(',', ''))
df_udx['Mínima'] = df_udx['Mínima'].apply(lambda x: x.replace(',', ''))
df_udx['Vol.'] = df_udx['Vol.'].apply(lambda x: x[:-4])                                       
df_udx['Var%'] = df_udx['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_udx['Último'] = pd.to_numeric(df_udx['Último'])
df_udx['Abertura'] = pd.to_numeric(df_udx['Abertura'])
df_udx['Máxima'] = pd.to_numeric(df_udx['Máxima'])
df_udx['Mínima'] = pd.to_numeric(df_udx['Mínima'])
df_udx['Vol.'] = pd.to_numeric(df_udx['Vol.'])
df_udx['Var%'] = pd.to_numeric(df_udx['Var%'])


df_udx['Média'] = (df_udx['Último'] + df_udx['Abertura'] + df_udx['Máxima'] + df_udx['Mínima'])/4

df_udx = df_udx.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima','Vol.'])

df_udx = df_udx.fillna(1)

df_udx.head()

         Data  Var%     Média
0  30/07/2019  0.03  97850.75
1  29/07/2019  0.05  97765.25
2  26/07/2019  0.20  97656.50
3  25/07/2019  0.10  97459.25
4  24/07/2019  0.03  97429.25

In [39]:
df_eur = pd.read_csv('EUR_USD Dados Históricos.csv')

df_eur['Data'] = df_eur['Data'].apply(lambda x: x.replace('.','/'))
df_eur['Último'] = df_eur['Último'].apply(lambda x: x.replace(',', ''))
df_eur['Abertura'] = df_eur['Abertura'].apply(lambda x: x.replace(',', ''))
df_eur['Máxima'] = df_eur['Máxima'].apply(lambda x: x.replace(',', ''))
df_eur['Mínima'] = df_eur['Mínima'].apply(lambda x: x.replace(',', ''))                                       
df_eur['Var%'] = df_eur['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_eur['Último'] = pd.to_numeric(df_eur['Último'])
df_eur['Abertura'] = pd.to_numeric(df_eur['Abertura'])
df_eur['Máxima'] = pd.to_numeric(df_eur['Máxima'])
df_eur['Mínima'] = pd.to_numeric(df_eur['Mínima'])
df_eur['Var%'] = pd.to_numeric(df_eur['Var%'])


df_eur['Média'] = (df_eur['Último'] + df_eur['Abertura'] + df_eur['Máxima'] + df_eur['Mínima'])/4

df_eur = df_eur.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima'])


df_eur.head()

         Data  Var%    Média
0  30/07/2019  0.11  11147.5
1  29/07/2019  0.14  11134.0
2  26/07/2019 -0.18  11134.5
3  25/07/2019  0.05  11145.0
4  24/07/2019 -0.11  11145.0

In [41]:
df_gbp = pd.read_csv('GBP_USD Dados Históricos.csv')

df_gbp['Data'] = df_gbp['Data'].apply(lambda x: x.replace('.','/'))
df_gbp['Último'] = df_gbp['Último'].apply(lambda x: x.replace(',', ''))
df_gbp['Abertura'] = df_gbp['Abertura'].apply(lambda x: x.replace(',', ''))
df_gbp['Máxima'] = df_gbp['Máxima'].apply(lambda x: x.replace(',', ''))
df_gbp['Mínima'] = df_gbp['Mínima'].apply(lambda x: x.replace(',', ''))                                       
df_gbp['Var%'] = df_gbp['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_gbp['Último'] = pd.to_numeric(df_gbp['Último'])
df_gbp['Abertura'] = pd.to_numeric(df_gbp['Abertura'])
df_gbp['Máxima'] = pd.to_numeric(df_gbp['Máxima'])
df_gbp['Mínima'] = pd.to_numeric(df_gbp['Mínima'])
df_gbp['Var%'] = pd.to_numeric(df_gbp['Var%'])


df_gbp['Média'] = (df_gbp['Último'] + df_gbp['Abertura'] + df_gbp['Máxima'] + df_gbp['Mínima'])/4

df_gbp = df_gbp.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima'])

df_gbp.head()

         Data  Var%     Média
0  17/06/2019 -0.48  12568.25
1  16/06/2019  0.02  12594.25
2  14/06/2019 -0.65  12633.00
3  13/06/2019 -0.12  12684.50
4  12/06/2019 -0.28  12714.00

In [44]:
df_nasdaq = pd.read_csv('Nasdaq 100 Dados Históricos.csv')
    
df_nasdaq['Data'] = df_nasdaq['Data'].apply(lambda x: x.replace('.','/'))
df_nasdaq['Último'] = df_nasdaq['Último'].apply(lambda x: x.replace(',', ''))
df_nasdaq['Abertura'] = df_nasdaq['Abertura'].apply(lambda x: x.replace(',', ''))
df_nasdaq['Máxima'] = df_nasdaq['Máxima'].apply(lambda x: x.replace(',', ''))
df_nasdaq['Mínima'] = df_nasdaq['Mínima'].apply(lambda x: x.replace(',', ''))                                       
df_nasdaq['Var%'] = df_nasdaq['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_nasdaq['Último'] = pd.to_numeric(df_nasdaq['Último'])
df_nasdaq['Abertura'] = pd.to_numeric(df_nasdaq['Abertura'])
df_nasdaq['Máxima'] = pd.to_numeric(df_nasdaq['Máxima'])
df_nasdaq['Mínima'] = pd.to_numeric(df_nasdaq['Mínima'])
df_nasdaq['Var%'] = pd.to_numeric(df_nasdaq['Var%'])


df_nasdaq['Média'] = (df_nasdaq['Último'] + df_nasdaq['Abertura'] + df_nasdaq['Máxima'] + df_nasdaq['Mínima'])/4

df_nasdaq = df_nasdaq.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima','Vol.'])

df_nasdaq.head()

         Data  Var%     Média
0  30/07/2019 -0.23  7.951765
1  29/07/2019 -0.35  7.987290
2  26/07/2019  1.10  8.005743
3  25/07/2019 -1.01  7.953545
4  24/07/2019  0.70  7.969297

In [45]:
df_chf = pd.read_csv('USD_CHF Dados Históricos.csv')
    
df_chf['Data'] = df_chf['Data'].apply(lambda x: x.replace('.','/'))
df_chf['Último'] = df_chf['Último'].apply(lambda x: x.replace(',', ''))
df_chf['Abertura'] = df_chf['Abertura'].apply(lambda x: x.replace(',', ''))
df_chf['Máxima'] = df_chf['Máxima'].apply(lambda x: x.replace(',', ''))
df_chf['Mínima'] = df_chf['Mínima'].apply(lambda x: x.replace(',', ''))                                       
df_chf['Var%'] = df_chf['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_chf['Último'] = pd.to_numeric(df_chf['Último'])
df_chf['Abertura'] = pd.to_numeric(df_chf['Abertura'])
df_chf['Máxima'] = pd.to_numeric(df_chf['Máxima'])
df_chf['Mínima'] = pd.to_numeric(df_chf['Mínima'])
df_chf['Var%'] = pd.to_numeric(df_chf['Var%'])


df_chf['Média'] = (df_chf['Último'] + df_chf['Abertura'] + df_chf['Máxima'] + df_chf['Mínima'])/4

df_chf = df_chf.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima'])

df_chf.head()

         Data  Var%    Média
0  17/06/2019  0.03  9986.00
1  16/06/2019 -0.02  9988.25
2  14/06/2019  0.52  9963.00
3  13/06/2019 -0.18  9943.25
4  12/06/2019  0.32  9935.75

In [46]:
df_jpy = pd.read_csv('USD_JPY Dados Históricos.csv')

df_jpy['Data'] = df_jpy['Data'].apply(lambda x: x.replace('.','/'))
df_jpy['Último'] = df_jpy['Último'].apply(lambda x: x.replace(',', ''))
df_jpy['Abertura'] = df_jpy['Abertura'].apply(lambda x: x.replace(',', ''))
df_jpy['Máxima'] = df_jpy['Máxima'].apply(lambda x: x.replace(',', ''))
df_jpy['Mínima'] = df_jpy['Mínima'].apply(lambda x: x.replace(',', ''))                                       
df_jpy['Var%'] = df_jpy['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_jpy['Último'] = pd.to_numeric(df_jpy['Último'])
df_jpy['Abertura'] = pd.to_numeric(df_jpy['Abertura'])
df_jpy['Máxima'] = pd.to_numeric(df_jpy['Máxima'])
df_jpy['Mínima'] = pd.to_numeric(df_jpy['Mínima'])
df_jpy['Var%'] = pd.to_numeric(df_jpy['Var%'])


df_jpy['Média'] = (df_jpy['Último'] + df_jpy['Abertura'] + df_jpy['Máxima'] + df_jpy['Mínima'])/4

df_jpy = df_jpy.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima'])

df_jpy.head()

         Data  Var%     Média
0  17/06/2019 -0.01  10853.25
1  16/06/2019  0.01  10853.75
2  14/06/2019  0.16  10842.25
3  13/06/2019 -0.10  10840.75
4  12/06/2019 -0.02  10845.50

In [47]:
df_sek = pd.read_csv('USD_SEK Dados Históricos.csv')

df_sek['Data'] = df_sek['Data'].apply(lambda x: x.replace('.','/'))
df_sek['Último'] = df_sek['Último'].apply(lambda x: x.replace(',', ''))
df_sek['Abertura'] = df_sek['Abertura'].apply(lambda x: x.replace(',', ''))
df_sek['Máxima'] = df_sek['Máxima'].apply(lambda x: x.replace(',', ''))
df_sek['Mínima'] = df_sek['Mínima'].apply(lambda x: x.replace(',', ''))                                       
df_sek['Var%'] = df_sek['Var%'].apply(lambda x: x[:-1].replace(',','.'))

df_sek['Último'] = pd.to_numeric(df_sek['Último'])
df_sek['Abertura'] = pd.to_numeric(df_sek['Abertura'])
df_sek['Máxima'] = pd.to_numeric(df_sek['Máxima'])
df_sek['Mínima'] = pd.to_numeric(df_sek['Mínima'])
df_sek['Var%'] = pd.to_numeric(df_sek['Var%'])


df_sek['Média'] = (df_sek['Último'] + df_sek['Abertura'] + df_sek['Máxima'] + df_sek['Mínima'])/4

df_sek = df_sek.drop(columns = ['Último', 'Abertura', 'Máxima', 'Mínima'])

df_sek.head()

         Data  Var%     Média
0  16/06/2019 -0.03  94883.50
1  14/06/2019  0.04  94733.25
2  13/06/2019  0.08  94792.00
3  12/06/2019  0.25  94554.75
4  11/06/2019  0.35  94317.75

In [57]:
df_final = df_sp.merge(df_dow, on = 'Data').merge(df_udx, on ='Data').merge(df_eur,on = 'Data').merge(df_gbp, on = 'Data').merge(df_nasdaq,on = 'Data').merge(df_chf,on = 'Data').merge(df_jpy,on = 'Data').merge(df_sek, on = 'Data')

In [62]:
df_final.to_csv('moedas_features.csv', index = False)